.coaching {
    padding: 100px 0;
    text-align: center;
    background-color: #FFCC66;
    .coaching__inner {
        max-width: 1100px;
        margin: 0 auto;
        .coaching__title {
            padding-bottom: 80px;
            @include sp {
                padding-bottom: 40px;
            }
            h2 {
                font-size: 4rem;
                letter-spacing: 0.1em;
                @include sp {
                    font-size: 2rem;
                }
            }
        }
    }
}